In [1]:
print("Hello world")

Hello world

In [ ]:
single line --> single quote --> '<...>'
                double quote --> "<...>"
multi line string --> triple quote --> single quote --> '''<....
                                                            ....>'''
                                       double quote --> """<....
                                                           .....>"""

In [2]:
"hello world"

'hello world'

In [3]:
"hello world
I am coming"

SyntaxError: unterminated string literal (detected at line 1) (117753939.py, line 1)

In [4]:
"""Hello world
I am coming"""

'Hello world\nI am coming'

### Syntax rules

In [ ]:
1) Case sensetive

In [5]:
name = "Ganesh"
Name = "Jatin"
print(name)

Ganesh

In [6]:
print(Name)

Jatin

In [ ]:
# for(i=0; i<=10; i++) {
# puts>>i
# }
2) Indentation (No Braces)
# python uses spaces or tabs instead of curly braces
# for i in range(11):
#     print(i)

In [ ]:
3) Comments
Single line comment is written using #
# sungle line comment
Multi line comment
"""
I am a multi 
line comnent
"""

In [ ]:
4) Rules to assign variable
Valid names
name = "Shreya"
_job = "SDE"
total_price = 23
name1 = "someone"
m1 = "sdf"

Invalid names
1name   X
total-price X

In [7]:
# multiple assignments
name, _job, total_price = "Shreya", "SDE", 23

In [8]:
print(name, _job, total_price)

Shreya SDE 23

In [9]:
x = y = z = 100
print(x)

100

In [10]:
print(z)

100

In [11]:
print(y)

100

### Primitive data types

In [ ]:
1) Numeric type:
    int --> -1, -35, 0, 23, 1256
    float --> 3.14, 1.1414114, 2.5, -2.5, 0.0
    complex --> 3 + 5j, 6 - 1j
2) Boolean type:
    True or False
3) String type:
    single line --> single quote --> '<...>'
                double quote --> "<...>"
    multi line string --> triple quote --> single quote --> '''<....
                                                                ....>'''
                                           double quote --> """<....
                                                               .....>"""
4) None type:

In [12]:
type(3 + 5j)

complex

In [13]:
type(3.14)

float

In [14]:
type(25)

int

In [15]:
type(True)

bool

In [16]:
type("")

str

In [17]:
type(None)

NoneType

### Non Primitive data types

In [ ]:
list --> collection of hetrogenous datatypes
         changeble
         [1, "name", 10, 0.01]
tuple --> collection of hetrogenous datatypes
          non-changeable
         (4, 5.2, "I am tuple", 6 + 5j)
set --> collection of unique items
        {1, 2j, 5.0, "I am in set"}
        unordered collection
dict --> collection of key value pair
         {1: "value"}

range --> it generates sequence of numbers
            range(10) --> 0 - 9
            range(2, 9) --> 2 - 8
            range(5, 100) --> 5 - 99
            range(0, 10, 2) --> 0, 2, 4, 6, ... 8

### Input and output

In [18]:
mob_no = input("Enter your mobile number:")

Enter your mobile number: +91 7985641320

In [19]:
print(mob_no)

+91 7985641320

In [20]:
type(mob_no)

str

In [22]:
print(mob_no)

+91 7985641320

In [23]:
print("The users mobile number is: ", mob_no)

The users mobile number is:  +91 7985641320

In [24]:
print(f"The users mobile number is: {mob_no}")

The users mobile number is: +91 7985641320